<table class='table table-bordered table-striped table-light table-hover table-sm'>
  <thead>
    <tr>
      <th><%= I18n.t(:table_header, scope: :holiday)[0]%></th>
      <th><%= I18n.t(:table_header, scope: :holiday)[2]%></th>
      <th><%= I18n.t(:table_header, scope: :holiday)[5]%></th>
      <th>申請理由</th>
    </tr>
  </thead>
  <tbody>
    <% @my_vacations.each do |row| %>
      <tr>
        <th><%= row.get_start_date %></th>
        <th><%= row.get_days %></th>
        <th><%= application_status[row.status.to_sym] if row.status %></th>
        <th></th>
      </tr>
    <% end %>
  </tbody>
</table>