<html>
  <body>
    <div class="container">
      <div class="main">
        <div class="login-form">
          <h1>ログイン</h1>
          <%= form_with model: @user, url: '/login', local: true do |form| %>
            <%= render :partial => "templates/input", :locals => {f: form}%>
            <%= form.submit "ログイン" , class: "btn btn-default" %>
          <% end %>
        </div>
          <%= form_with url: new_user_path,method: :get, local: true do |form| %>
            <p>新規登録はこちら</p>
            <%= form.submit "新規登録" , class: "btn btn-default" %>
          <% end %>
      </div>
    </div>
  </body>
</html>