<div class="container">
  <div class="main bg-dark text-light">
    <div class="login-form">
      <h1><%= t '.login' %></h1></h1>
      <%= form_with model: @user, url: sessions_path , method: :get, local: true do |form| %>
        <%= render :partial => "templates/input", :locals => {f: form}%>
        <%= form.submit( t('.login') , class: "btn btn-default")%>
      <% end %>
    </div>
      <%= form_with url: new_user_path,method: :get, local: true do |form| %>
        <p><%= t('.sign_up_here') %></p>
        <%= form.submit( t('.sign_up') , class: "btn btn-default") %>
      <% end %>
  </div>
</div>