<html>
  <body>
    <div class="container">
      <div class="main">
        <div class="login-form">
          <h1>ログイン</h1>
          <%= form_with(url: "/sessions/create") do |form| %>
            <%= input_email %>
            <%= input_password %>
            <%= show_message %>
            <%= form.submit "新規登録" , class: "btn btn-default" %>
          <% end %>
        </div>
      </div>
    </div>
  </body>
</html>