<div class='main item'>
  <%= f.label :page, 'email', class: 'text-light' %>
  <%= f.email_field :email %>
</div>
<div class='main item'>
  <%# TODO MaxLengthの設定%>
  <%= f.label :page, 'password', class: 'text-light' %>
  <%= f.password_field :password %>
</div>
<%= render :partial => "templates/errmessage"%>
