<div class='main item'>
  <%= f.label :page, 'email' %> 
  <%= f.email_field :email %>
</div>
<div class='main item'>
  <%= f.label :page,  'password' %>
  <%= f.password_field :password %>
</div>
<%= render :partial => "templates/errmessage"%>
