<div class='main item'>
  <%= f.label :page, 'email', class: 'text-light' %>
  <%= email_field :user, :email %>
</div>
<div class='main item'>
  <%= f.label :page, 'password', class: 'text-light' %>
  <%= password_field :user, :password %>
</div>
<%= render :partial => "templates/errmessage"%>
