<table class='table table-bordered table-light table-hover table-sm'>
  <thead>
    <tr class='text-center align-middle'>
      <th>id</th>
      <th>氏名</th>
      <th>権限</th>
      <th>削除</th>
    </tr>
  </thead>
  <tbody>
    <% @all_user.each do |user| %>
      <tr class='text-center '>
        <%= form_with url: edit_user_management_path(user.id), method: 'get',local: true do |f| %>
          <td class='align-middle'>
            <%= user.id %>
          </td>
          <td class='align-middle'>
            <%= link_to user.name, edit_user_management_path(user.id), class: 'list-group' %>
          </td>
          <td class='align-middle'>
            <%= user.role %>
          </td>
        <%end%>
        <%= form_with url: user_management_path(user.id), method: 'DELETE', local: true do |f| %>
        <td>
          <%= button_tag '削除' ,name: 'user_del', class:'btn btn-danger' %>
        </td>
        <%end%>
      </tr>
    <%end%>
  </tbody>
</table>