<div class='edit'>
  <h1><%= t '.title' %></h1>
  <%= form_with model: @user, url: user_path(@current_user.id) , method: :put, local: true do |form| %>
  <div class='edit item'>
    <%= form.label :page, t('.name') %>
    <%= text_field :page, :name, value: @user.name %>
  </div>
  <div class='esit item'>
    <%= form.label :page , t('.old_pass') %>
    <%= form.password_field :old_password %>
  </div>
  <div class='edit item'>
    <%= form.label :page , t('.new_pass') %>
    <%= form.password_field :new_password1 %>
  </div>
  <div class='edit item'>
    <%= form.label :page , t('.new_pass_again') %>
    <%= form.password_field :new_password2 %>
  </div>
  <%= render :partial => "templates/errmessage"%>
    <%= form.submit t('.button'), class: 'btn btn-success'%>
  <% end %>
</div>
