<html>
  <body>
    <h1>勤怠状況一覧</h1>
    <div class="search">
      <div class="search-year">
        <div id="pulldown">
          <%= form_with url: 'users/show' do %>
            <%= pulldown_year %>
            <%= pulldown_month %>
          <% end %>
        </div>
        <%= attendance_button %>
      </div>
    </div>
    <div id="attendance-table" class="table">
      <table class='table table-bordered' >
        <%= table_header %>
        <%= table_rows %>
      </table>
    </div>
  </body>
</html>
 