<div class="table">
  <table id="attendance-table" class='table table-condensed table-bordered table-sm' >
    <thead class='thead-light'>
      <tr class='text-center'>
        <th><%= label :page, '日付'%></th>
        <th><%= label :page, '曜日'%></th>
        <th><%= label :page, '出勤時間'%></th>
        <th><%= label :page, '退勤時間'%></th>
        <th><%= label :page, '稼働時間'%></th>
        <th><%= label :page, '休憩時間'%></th>
        <th><%= label :page, '状態'%></th>
      </tr>
    </thead>
    <tbody>
      <% (1..@first_month.end_of_month.day).each do |row| %>
      <%# rowから日付を生成する %>
      <% row_date = change_date(@first_month, row) %>
      <%# 日付を指定して勤怠状況を検索する %>
      <% attendance_row = choice_attendanceTime(@attendance_table , row_date) %>
        <%# ステータスをみて、有休申請してる時は色を変える %>
        <tr name='row_<%=row%>' class='text-center day_of_week_<%= create_day_of_week_classname(row_date, selected_status(attendance_row, row_date)) %>'>
          <th name='date_<%=row%>'><%=row%></th>
          <th name='row_of_week_<%=row_date.wday%>'>
            <%= date_of_week(row_date.wday) %>
          </th>
          <th name='start_work_<%=row%>'>
            <%= time_select("work_#{row_date.day}", 'start',
                            default: show_start_attendanceTime(attendance_row, row_date)) %>
          </th>
          <th name='end_work_<%=row%>'>
            <%= time_select("work_#{row_date.day}", 'end',
                            default: show_end_attendanceTime(attendance_row, row_date)) %>
          </th>
          <th name='working_time_<%=row%>'>
            <%= convert_min(calculate_working_time(attendance_row, row_date)) %>
          </th>
          <th name='break_time_<%=row%>'>
            <%= convert_min(calculate_break_time(attendance_row, row_date)) %>
          </th>
          <th name='status_row_<%=row%>'>
            <%= select_tag("status_#{row}",
                options_for_select(all_status.invert,
                selected: selected_status(attendance_row, row_date)),
                disabled: is_include?(@pass_days, row_date),
                class: 'form-control-sm')%>
          </th>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>