<div class='user-management-table'>
  <table class='table table-bordered  table-striped table-light table-hover table-sm'>
    <thead>
      <tr class='text-center align-middle'>
        <th class='col-md-01 col-sm-01'><%= I18n.t(:user_management, scope: :table_header)[0]%></th>
        <th class='col-md-03 col-sm-03'><%= I18n.t(:user_management, scope: :table_header)[1]%></th>
        <th class='col-md-03 col-sm-03'>email</th>
        <th class='col-md-03 col-sm-03'><%= I18n.t(:user_management, scope: :table_header)[2]%></th>
        <th class='col-md-02 col-sm-02'><%= I18n.t(:user_management, scope: :table_header)[3]%></th>
      </tr>
    </thead>
    <tbody>
      <% @all_users.each do |user| %>
        <tr class='text-center'>
          <%= form_with url: edit_user_management_path(user.id), method: 'get',local: true do |f| %>
            <td class='align-middle item-id col-md-01 col-sm-01'>
              <%= user.id %>
            </td>
            <td class='align-middle item-name col-md-03 col-sm-03'>
            <%= link_to user.name, edit_user_management_path(user.id) %>
            </td>
            <td class='align-middle item-name col-md-03 col-sm-03'>
              <%= user.email %>
            </td>
            <td class='align-middle item-role col-md-03 col-sm-03'>
              <%= all_role[user.role.to_sym] %>
            </td>
          <%end%>
          <%= form_with url: user_management_path(user.id), method: 'DELETE', local: true do |f| %>
          <td class='item-del col-md-02 col-sm-02'>
            <% if @current_user.id != user.id%>
              <%= button_tag I18n.t(:user_management, scope: :table_header)[3] ,name: 'user_del', class:'btn btn-danger' %>
            <% end %>
          </td>
          <%end%>
        </tr>
      <%end%>
    </tbody>
  </table>
</div>