<!DOCTYPE html>
<html>
  <head>
    <title>Kintai</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application' %>
    <%= stylesheet_pack_tag params[:controller] %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag params[:controller] %>
  </head>
  <body class='bg-light'>
    <% if @current_user %>
      <div class="row">
        <div class="col-sm-3 sidebar open bg-dark">
          <div class="row sidebar-header header-cover text-light" >
            <ul class="col-md-7 user-profile">
              <li class="profile-profile"><%= 'プロフィール' %></li>
              <li class="profile-username"><%= @current_user.name %></li>
              <li class="profile-email"><%= @current_user.email %></li>
              <li class="profile-holidaycount">残有休数: <%= @current_user.paid_holiday_count %></li>
            </ul>
          </div>
          <div class="list-group">
            <%= link_to '勤怠状況一覧', attendance_path(@current_user.id),class: 'list-group-item list-group-item-action list-group-item-light' %>
            <%= link_to '出勤者リスト', users_path, class: 'list-group-item list-group-item-action list-group-item-light'%>
            <%= link_to holiday_path(@current_user.id), class: 'list-group-item list-group-item-action list-group-item-light' do %>
              有給休暇申請
              <span class="badge badge-primary badge-pill"></span>
            <%end%>
            <%= link_to 'ユーザー設定', edit_user_path(@current_user.id), class: 'list-group-item list-group-item-action list-group-item-light' %>
            <% if @current_user.role == 'owner' %>
              <%= link_to 'ユーザー管理',user_managements_path , method: 'get', class: 'list-group-item list-group-item-action list-group-item-light'%>
            <% end %>
            <%= link_to 'ログアウト', new_session_path, class: 'list-group-item list-group-item-action list-group-item-light'%>
          </div>
        </div>
        <%= render partial: "templates/flash",locals: {class_name: "flash-login"} %>
        <div class="col-sm-9 wrapper-login">
          <%= yield %>
        </div>
      </div>
    <% else %>
      <%= render partial: "templates/flash",locals: {class_name: "flash-logout"} %>
      <div class="wrapper-logout">
        <%= yield %>
      </div>
    <% end %>
  </body>
</html>
