<!DOCTYPE html>
<html>
  <head>
    <title>Kintai</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application' %>
    <%= stylesheet_pack_tag params[:controller] %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag params[:controller] %>
</head>
  <body>
    <% if @current_user %>
      <div class="row">
        <div class="col-sm-3 sidebar open">
          <div class="row sidebar-header header-cover" >
            <div class="col-md-7 user-profile">
              <ul class="profile-profile"><%= label :page ,'プロフィール' %></ul>
              <ul class="profile-username"><%= label :page ,@current_user.name %></ul>
              <ul class="profile-email"><%= label :page ,@current_user.email %></ul>
            </div>
          </div>
          <div class="sidebar-menu">
            <div class="sidebar-nav">
              <%= render partial: "templates/sidebar_tab",
              locals: {controller_name: "attendances", action_name: "show",
              tabname: "出勤状況一覧", showcount: ""}%>
              <%= render partial: "templates/sidebar_tab",
              locals: {controller_name: "attendances", action_name: "show",
              tabname: "出勤者リスト", showcount: ""}%>
              <%= render partial: "templates/sidebar_tab",
              locals: {controller_name: "attendances", action_name: "show",
              tabname: "有休休暇申請", showcount: 12}%>
              <%= render partial: "templates/sidebar_tab",
              locals: {controller_name: "attendances" , action_name: "show",
              tabname: "ユーザー設定", showcount: ""}%>
              <%= render partial: "templates/sidebar_tab",
              locals: {controller_name: "sessions" , action_name: "new",
              tabname: "ログアウト", showcount: ""}%>
            </div>
          </div>
        </div>
        <%= render partial: "templates/flash",locals: {class_name: "flash-login"} %>
        <div class="col-sm-9 wrapper-login">
          <%= yield %>
        </div>
      </div>
    <% else %>
      <%= render partial: "templates/flash",locals: {class_name: "flash-logout"} %>
      <div class="wrapper-logout">
        <%= yield %>
      </div>
    <% end %>
  </body>
</html>
